/* HTML Styling */
.markdownArea {
    color: #ECF0F5;
    
    h1, h2, h3 {
        padding-top: 0.5em;
        font-weight: bold;
        color: #D3BC8E
    }
    
    h1 {
        font-size: 2em;
        text-align: center;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h6 {
        font-size: 0.5em;
    }
    
    hr {
        margin: 0.5em 0;
    }
    
    table, tr, th, td {
        border: 1px #D3BC8E solid;
        padding: 0.25em 1em; 
        margin: 1em;
    }
    
    ul {
        padding-left: 1em;
        list-style-type: disc;
    
        ul {
            padding-left: 1em;
        }
    }
    
    ol {
        padding-left: 1em;
        list-style-type: decimal;
    }
    
    a {
        text-decoration: underline;
    }
    
    p {
        padding: 0.25em 0;
    }
}

/* Component Classes */
.guideTitle {
    font-size: 48px !important;
    font-weight: bold;
    text-align: center;
    color: #D3BC8E;
}

.tableOfContents {
    font-size: 1em;
    text-decoration: underline;
}