/* HTML Styling */
.markdownArea {
  @apply text-atekwhite;

  h1,
  h2,
  h3 {
    @apply pt-6 font-bold text-atekgold;
  }

  h1 {
    @apply text-3xl text-center;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }

  h6 {
    @apply text-xs;
  }

  hr {
    @apply mx-2;
  }

  table,
  tr,
  th,
  td {
    @apply border border-atekgold border-solid m-4 py-1 px-4;
  }

  ul {
    @apply pl-4 list-disc;

    ul {
      @apply pl-4;
    }
  }

  ol {
    @apply pl-4 list-decimal;
  }

  a {
    @apply underline;
  }

  p {
    @apply py-1;
  }
}

/* Component Classes */
.tableOfContents {
  ul,
  ol {
    @apply pt-4 list-none;
  }

  @media screen and (min-width: 1800px) {
    li {
      @apply pb-2;
    }

    font-size: 1em;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1vh 12px 12px 8px;
    border-right: 1px solid #d3bc8e;
    overflow-y: auto;
  }
}

.progressBar {
  height: 6px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background-color: #d3bc8e;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: progressBar linear;
  animation-timeline: scroll();
}

@keyframes progressBar {
  to {
    scale: 1 1;
  }
}

.label {
  @apply font-bold text-atekgold;
}

.creator {
  @apply text-sm;
}
